# 依赖
node_modules/

# 构建产物
dist/
src-tauri/target/
src-tauri/gen/
*.tsbuildinfo

# 编辑器
.vscode/
.idea/
.zcode/
*.swp
*.swo
.DS_Store

# 环境变量
.env
.env.local

# 日志
*.log

# Tauri
src-tauri/WixTools/

# 文档构建
docs/_build/
